<h1> Hands-on Activity 6.1 Introduction to Data Analysis and Tools

**CPE311 Computational Thinking with Python**

Name: Sumilang, Kenneth

Section: CPE22S1

Performed on: 6/20/2024

Submitted on: 6/20/2024

Submitted to: Engr. Roman M. Richard

<h2>6.1 Intended Learning Outcome

1. Use pandas and numpy data analysis tools.
2. Demonstrate how to analyze data using numpy and pandas

<h2>6.2 Resources

* Personal Computer
* Jupyter Notebook
* Internet Connection

<h2>6.3 Supplementary Activities

<h3>Exercise 1

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [20]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [21]:
import pandas as pd
df = pd.DataFrame(salaries, columns=['Salary'])

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):

* Mean
* Median
* Mode (hint: check out the Counter in the collections module of the standard library at
https://docs.python.org/3/library/collections.html#collections.Counter)
* Sample variance
* Sample standard deviation

In [22]:
mean = df['Salary'].mean()

In [23]:
median = df['Salary'].median()

In [24]:
mode = df['Salary'].mode()[0]

In [25]:
sample_var=df['Salary'].var()

In [26]:
std = df['Salary'].std()

In [27]:
stats_df = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode', 'Sample Variance', 'Standard Deviation'],
    'Value': [mean, median, mode, sample_var, std]
})

print(stats_df)

            Statistic         Value
0                Mean  5.856900e+05
1              Median  5.890000e+05
2                Mode  4.770000e+05
3     Sample Variance  7.066405e+10
4  Standard Deviation  2.658271e+05

<h3>Exercise 2

Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:

* Range

* Coefficient of variation Interquartile range

* Quartile coefficient of dispersion

In [28]:
import statistics as stats
range_value = max(salaries) - min(salaries)

# Calculate Coefficient of Variation
mean = stats.mean(salaries)
std_dev = stats.stdev(salaries)
coeff_of_variation = std_dev / mean

# Calculate Interquartile Range (IQR)
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1

# Calculate Quartile Coefficient of Dispersion
quartile_coeff_dispersion = IQR / (Q3 + Q1)

# Create a new DataFrame for the statistics
additional_stats_df = pd.DataFrame({
    'Statistic': [
        'Range',
        'Coefficient of Variation',
        'Interquartile Range',
        'Quartile Coefficient of Dispersion'
    ],
    'Value': [
        range_value,
        coeff_of_variation,
        IQR,
        quartile_coeff_dispersion
    ]
})

# Set display option to avoid scientific notation
pd.set_option('display.float_format', '{:,.2f}'.format)

# Display the table
print(additional_stats_df)

                            Statistic      Value
0                               Range 995,000.00
1            Coefficient of Variation       0.45
2                 Interquartile Range 413,250.00
3  Quartile Coefficient of Dispersion       0.34

<h3>Exercise 3: Pandas for Data analysis

In [29]:
#imports and initializations
import pandas as pd
import numpy as np
#get file
data_df = pd.read_csv('diabetes.csv')
print(data_df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0 33.60
1              1       85             66             29        0 26.60
2              8      183             64              0        0 23.30
3              1       89             66             23       94 28.10
4              0      137             40             35      168 43.10
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180 32.90
764            2      122             70             27        0 36.80
765            5      121             72             23      112 26.20
766            1      126             60              0        0 30.10
767            1       93             70             31        0 30.40

     DiabetesPedigreeFunction  Age  Outcome
0                        0.63   50        1
1                        0.35   31        0
2                        0.67   32        1
3                        0.17   21        0
4                        2.29   33        1
..                        ...  ...      ...
763                      0.17   63        0
764                      0.34   27        0
765                      0.24   30        0
766                      0.35   47        1
767                      0.32   23        0

[768 rows x 9 columns]

Load the diabetes.csv file. Convert the diabetes.csv into dataframe. Perform the following tasks in the diabetes dataframe:

1. Identify the column names

In [30]:
print(data_df.columns) #get all column names

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

2. Identify the data types of the data

In [31]:
for column in data_df.columns: #for loop that iterates column names, returns an index object with the column laels
    print(column, ":", data_df[column].dtype) #dtype retrieves the data type of the column label

Pregnancies : int64
Glucose : int64
BloodPressure : int64
SkinThickness : int64
Insulin : int64
BMI : float64
DiabetesPedigreeFunction : float64
Age : int64
Outcome : int64

3.  Display the total number of records

In [32]:
total_records = data_df.shape[0] #retrieves row quantity
print("Total Number of Records:", total_records) #will display the number of rows represented as total number of records

Total Number of Records: 768

4.  Display the first 20 records

In [33]:
data_df.head(20) #head is the first 20 rows. so 0-19

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.60,0.63,50,1
1,1,85,66,29,0,26.60,0.35,31,0
2,8,183,64,0,0,23.30,0.67,32,1
3,1,89,66,23,94,28.10,0.17,21,0
4,0,137,40,35,168,43.10,2.29,33,1
5,5,116,74,0,0,25.60,0.20,30,0
6,3,78,50,32,88,31.00,0.25,26,1
7,10,115,0,0,0,35.30,0.13,29,0
8,2,197,70,45,543,30.50,0.16,53,1
9,8,125,96,0,0,0.00,0.23,54,1
10,4,110,92,0,0,37.60,0.19,30,0
11,10,168,74,0,0,38.00,0.54,34,1
12,10,139,80,0,0,27.10,1.44,57,0
13,1,189,60,23,846,30.10,0.40,59,1
14,5,166,72,19,175,25.80,0.59,51,1
15,7,100,0,0,0,30.00,0.48,32,1
16,0,118,84,47,230,45.80,0.55,31,1
17,7,107,74,0,0,29.60,0.25,31,1
18,1,103,30,38,83,43.30,0.18,33,0
19,1,115,70,30,96,34.60,0.53,32,1

5.  Display the last 20 records

In [34]:

data_df.tail(20) #tail is the last 20 rows. so 748-767

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.40,0.41,36,1
749,6,162,62,0,0,24.30,0.18,50,1
750,4,136,70,0,0,31.20,1.18,22,1
751,1,121,78,39,74,39.00,0.26,28,0
752,3,108,62,24,0,26.00,0.22,25,0
753,0,181,88,44,510,43.30,0.22,26,1
754,8,154,78,32,0,32.40,0.44,45,1
755,1,128,88,39,110,36.50,1.06,37,1
756,7,137,90,41,0,32.00,0.39,39,0
757,0,123,72,0,0,36.30,0.26,52,1
758,1,106,76,0,0,37.50,0.20,26,0
759,6,190,92,0,0,35.50,0.28,66,1
760,2,88,58,26,16,28.40,0.77,22,0
761,9,170,74,31,0,44.00,0.40,43,1
762,9,89,62,0,0,22.50,0.14,33,0
763,10,101,76,48,180,32.90,0.17,63,0
764,2,122,70,27,0,36.80,0.34,27,0
765,5,121,72,23,112,26.20,0.24,30,0
766,1,126,60,0,0,30.10,0.35,47,1
767,1,93,70,31,0,30.40,0.32,23,0

6. Change the Outcome column to Diagnosis

In [35]:
data_df.rename(columns={"Outcome": "Diagnosis"}, inplace=True) #without inplace=True, displaying the columns will still have 'Outcome' instead of Diagnosis. Will affect the next steps
data_df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
748,3,187,70,22,200,36.40,0.41,36,1
749,6,162,62,0,0,24.30,0.18,50,1
750,4,136,70,0,0,31.20,1.18,22,1
751,1,121,78,39,74,39.00,0.26,28,0
752,3,108,62,24,0,26.00,0.22,25,0
753,0,181,88,44,510,43.30,0.22,26,1
754,8,154,78,32,0,32.40,0.44,45,1
755,1,128,88,39,110,36.50,1.06,37,1
756,7,137,90,41,0,32.00,0.39,39,0
757,0,123,72,0,0,36.30,0.26,52,1
758,1,106,76,0,0,37.50,0.20,26,0
759,6,190,92,0,0,35.50,0.28,66,1
760,2,88,58,26,16,28.40,0.77,22,0
761,9,170,74,31,0,44.00,0.40,43,1
762,9,89,62,0,0,22.50,0.14,33,0
763,10,101,76,48,180,32.90,0.17,63,0
764,2,122,70,27,0,36.80,0.34,27,0
765,5,121,72,23,112,26.20,0.24,30,0
766,1,126,60,0,0,30.10,0.35,47,1
767,1,93,70,31,0,30.40,0.32,23,0

7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"

In [36]:
data_df['Diabetes'] = data_df['Diagnosis'].apply(lambda x: 'Diabetes' if x == 1 else 'No Diabetes') #retrive diagnosis column values and apply lambda conditional

data_df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Diabetes
0,6,148,72,35,0,33.60,0.63,50,1,Diabetes
1,1,85,66,29,0,26.60,0.35,31,0,No Diabetes
2,8,183,64,0,0,23.30,0.67,32,1,Diabetes
3,1,89,66,23,94,28.10,0.17,21,0,No Diabetes
4,0,137,40,35,168,43.10,2.29,33,1,Diabetes
5,5,116,74,0,0,25.60,0.20,30,0,No Diabetes
6,3,78,50,32,88,31.00,0.25,26,1,Diabetes
7,10,115,0,0,0,35.30,0.13,29,0,No Diabetes
8,2,197,70,45,543,30.50,0.16,53,1,Diabetes
9,8,125,96,0,0,0.00,0.23,54,1,Diabetes
10,4,110,92,0,0,37.60,0.19,30,0,No Diabetes
11,10,168,74,0,0,38.00,0.54,34,1,Diabetes
12,10,139,80,0,0,27.10,1.44,57,0,No Diabetes
13,1,189,60,23,846,30.10,0.40,59,1,Diabetes
14,5,166,72,19,175,25.80,0.59,51,1,Diabetes
15,7,100,0,0,0,30.00,0.48,32,1,Diabetes
16,0,118,84,47,230,45.80,0.55,31,1,Diabetes
17,7,107,74,0,0,29.60,0.25,31,1,Diabetes
18,1,103,30,38,83,43.30,0.18,33,0,No Diabetes
19,1,115,70,30,96,34.60,0.53,32,1,Diabetes

8. Create a new dataframe "withDiabetes" that gathers data with diabetes

In [37]:
withDiabetes = data_df[data_df['Diagnosis'] == 1] #retrieve all rows that has Diagnosis value of 1
display(withDiabetes) #display is print in pandas format

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Diabetes
0,6,148,72,35,0,33.60,0.63,50,1,Diabetes
2,8,183,64,0,0,23.30,0.67,32,1,Diabetes
4,0,137,40,35,168,43.10,2.29,33,1,Diabetes
6,3,78,50,32,88,31.00,0.25,26,1,Diabetes
8,2,197,70,45,543,30.50,0.16,53,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.50,1.06,37,1,Diabetes
757,0,123,72,0,0,36.30,0.26,52,1,Diabetes
759,6,190,92,0,0,35.50,0.28,66,1,Diabetes
761,9,170,74,31,0,44.00,0.40,43,1,Diabetes
766,1,126,60,0,0,30.10,0.35,47,1,Diabetes

9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes

In [38]:
noDiabetes = data_df[data_df['Diagnosis'] == 0]
#print(wD)
display(noDiabetes)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Diabetes
1,1,85,66,29,0,26.60,0.35,31,0,No Diabetes
3,1,89,66,23,94,28.10,0.17,21,0,No Diabetes
5,5,116,74,0,0,25.60,0.20,30,0,No Diabetes
7,10,115,0,0,0,35.30,0.13,29,0,No Diabetes
10,4,110,92,0,0,37.60,0.19,30,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.50,0.14,33,0,No Diabetes
763,10,101,76,48,180,32.90,0.17,63,0,No Diabetes
764,2,122,70,27,0,36.80,0.34,27,0,No Diabetes
765,5,121,72,23,112,26.20,0.24,30,0,No Diabetes
767,1,93,70,31,0,30.40,0.32,23,0,No Diabetes

10. Create a new dataframe "Pedia" that gathers data with age 0 to 19

In [39]:
Pedia = data_df[(data_df['Age'] >= 0) & (data_df['Age'] <= 19)] #retrieve all rows with age values from 0-19
display(Pedia)

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Diabetes]
Index: []

11. Create a new dataframe "Adult" that gathers data with age greater than 19

In [40]:
Adult = data_df[(data_df['Age'] >= 19)] #retrieve all rows with age values from 19 above
Adult_sorted = Adult.sort_values(by='Age', ascending=True) #sorts Adult values from ascending order (smallest to largest value)
display(Adult_sorted)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Diabetes
255,1,113,64,35,0,33.60,0.54,21,1,Diabetes
60,2,84,0,0,0,0.00,0.30,21,0,No Diabetes
102,0,125,96,0,0,22.50,0.26,21,0,No Diabetes
182,1,0,74,20,23,27.70,0.30,21,0,No Diabetes
623,0,94,70,27,115,43.50,0.35,21,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
123,5,132,80,0,0,26.80,0.19,69,0,No Diabetes
684,5,136,82,0,0,0.00,0.64,69,0,No Diabetes
666,4,145,82,18,0,32.50,0.23,70,1,Diabetes
453,2,119,0,0,0,19.60,0.83,72,0,No Diabetes
459,9,134,74,33,60,25.90,0.46,81,0,No Diabetes

12. Use numpy to get the average age and glucose value.

In [41]:
average_age = np.mean(data_df['Age']) #calculate the mean of the values in the age column
average_glucose = np.mean(data_df['Glucose']) #calculate the mean of the values in the glucose column

print("Average Age:", average_age)
print("Average Glucose Value:", average_glucose)

Average Age: 33.240885416666664
Average Glucose Value: 120.89453125

13. Use numpy to get the median age and glucose value.

In [42]:
median_age = np.median(data_df['Age'])  #np.median calculates the median value of the age column
median_glucose = np.median(data_df['Glucose']) #np.median calculates the median value of the glucose column

print("Median Age:", median_age)
print("Median Glucose Value:", median_glucose)

Median Age: 29.0
Median Glucose Value: 117.0

14. Use numpy to get the middle values of glucose and age.

In [43]:
sorted_age = np.sort(data_df['Age']) #retrieves sorted age values in ascending order by default
sorted_glucose = np.sort(data_df['Glucose']) #retrieves sorted glucouse values in ascending order by default


middle_age = sorted_age[len(sorted_age) // 2] #cuts the column in half, retrieves middle row going up.
middle_glucose = sorted_glucose[len(sorted_glucose) // 2] #cuts the column in half, retrieves middle row going up.

print("Middle Age:", middle_age)
print("Middle Glucose Value:", middle_glucose)

Middle Age: 29
Middle Glucose Value: 117

15. Use numpy to get the standard deviation of the skinthickness.

In [44]:
skinthickness_std = np.std(data_df['SkinThickness']) #retrieve values of skinthickness, calculate standard deviation
print("Standard Deviation of SkinThickness:", skinthickness_std)

Standard Deviation of SkinThickness: 15.941828626496978

<h2>6.4 Conclusion

In this activity, I learned how to use data analysis tools like numpy and pandas to sort, isolate and calculate values in a particular dataset. I think these things will be particularly essential in the later stages of my CpE student days.